#document {
    background-color: #fff;
    margin: 10%;
    margin-top: 30px;
    padding-top: 30px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 15px black;
}

#titles {
    font-family: 'FZXBSJW_2105485711';
    font-size: x-large;
    color: red;
    text-align: center;
}

#title_red {
    margin: auto;
    width: 80%;
    text-align: justify;
    /* width: 80%; */
}

#title_red:first-child {
    margin-top: 100px;
}

#title_red:after {
    display: inline-block;
    width: 100%;
    content: '';
}

#titles>h1:last-child {
    color: black;
}

#titles>hr {
    width: 80%;
    border: 3px solid red;
}

#main_body {
    font-family: 'STFangsong';
    font-size: xx-large;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 150px;
}

#sign_father {
    position: relative;
    text-align: right;
}

#sign {
    /* margin: 20px; */
    position: absolute;
    right: 10px;
    top: 10px;
}

#sign_father>img {
    transform: scale(1.5, 1.5);
    margin-right: 80px;
}