html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* 首页的近期事件 */

.news {
    height: 100%;
    width: 100%;
    /* table-layout: fixed; */
    /* display: block; */
    /* margin: 0px, 0px, 0px, 0px; */
    /* float: left; */
    display: flex;
    justify-content: center;
}

div.display_news {
    width: 49%;
    border: 4px;
    border-style: double;
}

.news li {
    margin: 20px;
}


/* “校园环境”图片 */

.campus_img {
    width: 100%;
    height: 100%;
}


/* 部分标题的加粗 */

.title {
    /* 文字加粗 */
    font-weight: bold;
    /* 居中 */
    text-align: center;
}


/* 安全局介绍以及下面的display */

.display_left {
    display: table;
    width: 32%;
    height: 358px;
    margin: 10px;
    font-family: "黑体";
    float: left;
    /* ------------- */
    display: flex;
    /*定义div的元素垂直居中*/
    align-items: center;
    /*定义div的里的元素水平居中*/
    justify-content: center;
}

.display_right {
    display: table;
    width: 32%;
    height: 500px;
    margin: 10px;
    font-family: "黑体";
    float: right;
    /* ------------- */
    display: flex;
    /*定义div的元素垂直居中*/
    align-items: center;
    /*定义div的里的元素水平居中*/
    justify-content: center;
}

.clear {
    clear: both;
}

.button {
    float: right;
}

canvas {
    z-index: -2;
    /* 注释掉的是全页面通用的方法，不过和清明节的冲突了 */
    /* position: fixed; */
    position: absolute;
    width: 100%;
    /* height: 100%; */
    height: 350%;
    left: 0px;
    top: 0px;
}

@media only screen and (max-width: 1510px) {
    .display_right,
    .display_left {
        float: none;
        margin: auto;
    }
}

@media only screen and (max-width: 599px) {
    .display_right,
    .display_left {
        display: unset;
        width: 100% !important;
    }
    img:not(#myImg) {
        width: 100% !important;
    }
    .news {
        display: block;
    }
    div.display_news {
        width: 98%;
    }
    .fontsize_4 {
        margin: auto;
    }
}